<% include ../partials/header %>


<div class = "first"> 
  <div class="text-container">
        <h1 style="color:white;"><b>Welcome to YelpCamp Page</b></h1>
        <h2 style="color:white;">View the most awesome campgrounds from all over the world</h2>
        <br>
        <p>
          <a class="btn btn-primary btn-lg"href="/campgrounds/new" > Add new Campground </a> 
        </p>
   </div>
</div>

<div
  class="row text-center"
  style="display:flex; flex-wrap: wrap;margin-left:85px;"
>
  <% campgrounds.forEach(function(campground){ %>
  <div class="col-md-4 col-sm-6">
      <br>
      <br>
    <div class="thumbnail">
      <img id="inimg" src="<%= campground.image %>" />
      <div class="caption">
        <b><strong><h3><%= campground.name %></h3></strong></b>
        <br>
        <strong><h4><%= campground.location %></h4></strong>
      </div>

      <p>
        <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary"
          ><strong>More Info</strong></a
        >
        <br>
      </p>
      <br>
    </div>
  </div>
  <% }); %>
</div>

<% include ../partials/footer %>
